<!DOCTYPE html>
<html>
<head>
    <title>Add Information</title>
</head>
<body>
    <h1>Add Information</h1>
    <form action="/submit_info" method="post">
        <input type="text" name="name" placeholder="Enter your name">
        <input type="email" name="email" placeholder="Enter your email">
        <input type="text" name="userType" placeholder="Enter your user type (student or teacher)">
        <input type="password" name="password" placeholder="Enter your password">
        <input type="submit" value="Submit">
    </form>
</body>
</html>
