<!DOCTYPE html>
<html>
<head>
    <title>Select Class</title>
</head>
<body>
    <h1>Select the class you will attend now</h1>
    <form action="/select_class" method="post">
        <select name="classes" required>
            <option value="">Select a class</option>
            <option value="CS">Introduction to Computer Science</option>
            <option value="Robotics">Introduction to Robotics</option>
            <option value="Data">Data Structures</option>
            <option value="Algorithms">Algorithms</option>
            <option value="AI">Artificial Intelligence</option>
            <option value="ML">Machine Learning</option>
            <option value="DL">Deep Learning</option>
            <option value="CV">Computer Vision</option>
            <option value="NLP">Natural Language Processing</option>
            <option value="BD">Big Data</option>
            <option value="DS">Data Science</option>
        </select>
        <input type="submit" value="Submit">
    </form>
</body>
</html>